@model SciEvidenceBank.Models.Evidence

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa thông tin</h2>

<h3>Bạn chắc chắn xóa thông tin này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        ...
        <dt>Lĩnh vực nghiên cứu</dt>
        <dd>
            @if (Model.EvidenceResearchFields != null && Model.EvidenceResearchFields.Any())
            {
                <ul>
                    @foreach (var rf in Model.EvidenceResearchFields)
                    {
                        <li>@(rf.ResearchField != null ? rf.ResearchField.Name : "(unknown)")</li>
                    }
                </ul>
            }
            else
            {
                <span>Không có</span>
            }
        </dd>
        ...
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>